body {
  font-family: "Helvetica";
  margin: 0 auto;
}

#logo {
  height: 40px;
  width: 40px;
}

#container {
  display: flex; <! –– make it into a flexbox-->
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh; 
}